<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk tools:overrideLibrary="com.haibin.calendarview" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/lw_app_name">
        </activity>
        <activity android:name=".ui.ActionMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="app.allever.android.sample.app.lose.weight.SampleAppLoseWeightActivity" />

        <receiver
            android:name=".reciver.AlarmReceiver"
            android:process=":remote"
            />
    </application>

</manifest>