<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allever.daymatter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name="com.allever.daymatter.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.allever.daymatter.ui.EditDayMatterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.daymatter.ui.DayMatterDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.daymatter.ui.ModifyDayMatterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.daymatter.ui.SortListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.daymatter.ui.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="app.allever.android.sample.app.day.matter.SampleAppDayMatterActivity" />

        <receiver
            android:name="com.allever.daymatter.receiver.CurrentAlarmReceiver"
            />
        <receiver
            android:name="com.allever.daymatter.receiver.BeforeAlarmReceiver"
            />
    </application>

</manifest>