<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- Required to maintain app compatibility. -->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="32" />-->
<!--    <uses-permission android:name="android.permission.INTERNET"/>-->

    <application>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TextCard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.allever.android.card.text.pic.text.view.EditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.allever.android.card.text.pic.text.view.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.android.card.text.pic.text.view.BrowserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="app.allever.android.sample.app.text.card.SampleTextCardActivity" />

        <!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="com.allever.android.card.text.pic.text.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->

<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths" />-->

<!--        </provider>-->
    </application>

</manifest>