<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.allever.app.virtual.call">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />



    <application>
        <activity
            android:name="org.xm.app.virtual.call.ui.SplashActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="org.xm.app.virtual.call.ui.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="org.xm.app.virtual.call.ui.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.xm.app.virtual.call.ui.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.xm.app.virtual.call.ui.IncomeCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.xm.app.virtual.call.ui.InComeCallSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.xm.app.virtual.call.ui.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.xm.app.virtual.call.ui.AdvancedIncomeSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.xm.app.virtual.call.ui.RingtonePickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name="org.xm.app.virtual.call.ui.WallPagerPickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <service android:name="org.xm.app.virtual.call.service.VirtualCallService" />

    </application>

</manifest>