<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.xm.secret.photo.album">

	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application>
		<activity
			android:name=".ui.SplashActivity"
			android:theme="@style/SplashTheme"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".ui.MainActivity"
			android:screenOrientation="portrait"
			android:launchMode="singleTask"/>
		<activity
			android:name=".ui.AlbumActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ui.PickActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ui.GalleryActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ui.PreviewActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ui.SettingActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ui.ChangePasswordActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ui.AboutActivity"
			android:screenOrientation="portrait"/>
		<activity android:name="app.allever.android.sample.app.secret.album.SampleAppSecretAlbumActivity" />

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/filepaths"/>
		</provider>

	</application>
</manifest>