<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name="app.allever.android.lucky.choice.spin.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LuckSpin">
        </activity>

        <activity
            android:name="app.allever.android.lucky.choice.spin.activity.WheelCreateActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LuckSpin"/>

        <activity
            android:name="app.allever.android.lucky.choice.spin.activity.WheelActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LuckSpin"/>
        <activity android:name="app.allever.android.sample.app.lucky.spin.SampleAppLuckySpinActivity" />


    </application>

</manifest>