<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <!-- Required to maintain app compatibility. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application>
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:label="@string/si_app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.alsg.bakericon.ui.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alsg.bakericon.base.AppFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alsg.bakericon.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alsg.bakericon.SlideMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="app.allever.android.sample.app.sticker.icon.SampleAppStickerIconActivity" />
    </application>

</manifest>