<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <application
        android:name="com.funny.gif.memes.app.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FullScreenStyle"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.allever.app.gif.memes.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.allever.app.gif.memes.ui.main.GifMainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.search.SearchActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.GifPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.BackupRestoreActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.user.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.user.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.user.UserCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.maker.PickActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.allever.app.gif.memes.ui.maker.GifMakerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.GifPreviewMineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>